<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>u</servlet-name>
	  <servlet-class>com.skillio.User</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>u</servlet-name>
	  <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>s</servlet-name>
	  <servlet-class>com.skillio.Search</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s</servlet-name>
	  <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
</web-app>
